@import "tailwindcss";


/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}

/* Swiper navigation only desktop */
.trip-swiper .swiper-button-next,
.trip-swiper .swiper-button-prev {
  display: none;
}

@media (min-width: 768px) {
  .trip-swiper .swiper-button-next,
  .trip-swiper .swiper-button-prev {
    display: flex;
  }
}